body {
  background-color: #301824;
}

.custom-nav {
  background-color: #3b1b2c !important;
  color: white;
}

.txt-secondary {
  color: #ce7853;
}

.txt-nav-unselected {
  color: #af8598;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.txt-nav-unselected:hover {
  color: white;
}

.search-bg {
  background-color: #572841;
  color: #ffffff; /* Actual text color */
  border: none; /* Removes the default border */
  outline: none; /* Removes the blue outline when clicking */
  padding: 8px 20px; /* Taller (vertical) and wider (horizontal) */
  border-radius: 8px; /* Optional: smooth corners */
  width: 100%;
}

.search-bg::placeholder {
  color: #af8598; /* Only styles the hint text */
}

.btn-login {
  background-color: #ce7853;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #92634f;
}

.btn-signup {
  background-color: #694b58;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.btn-signup:hover {
  background-color: #58434c;
}
