.img-dynamic {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  animation: fadeIn 0.7s ease-in-out;
  opacity: 0.2;
}

.div-slide-up {
  animation: fadeInMove 0.4s ease-out both;
}

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
