.bg-forum {
  background-color: #efefef;
}

.bg-image-homepage {
  background-image:
    linear-gradient(rgba(139, 46, 88, 0.6), rgba(139, 46, 88, 0.6)),
    url("src/assets/pet_img5_signup.jpg");
  background-size: cover;
  background-position: center;
}

.color-config {
  color: #8b2e58;
}

.custom-btn {
  background-color: #8b2e58;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #6e2446;
}

.nav-link.active {
  font-weight: bold !important;
}


