.bg {
  background-image:
    linear-gradient(rgba(87, 40, 65, 0.7), rgba(87, 40, 65, 0.7)),
    url("src/assets/pet_img5_signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-box {
  z-index: 2;
}

.form-bg-box {
  align-items: center;
  background: #3b1b2c;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 45px;
  z-index: 1;
}

/* Bootstrap validation overrides */

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none !important;
  padding-right: 0.75rem !important;
}

.hide-tooltips .invalid-tooltip {
  display: none !important;
}
